body,
html {
  overflow-x: hidden;
  font-family: "Gilroy", sans-serif;
}
body.overflow,
html.overflow {
  overflow: hidden !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

input,
textarea {
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
}
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.text-style {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .text-style {
    padding: 10px 20px;
  }
}
.text-style img {
  margin-right: 8px;
  width: 28px;
}
@media (max-width: 767px) {
  .text-style img {
    width: 22px;
  }
}
.text-style span {
  font-size: 14px;
  font-weight: 300;
  color: #2C2C2C;
}
.text-style.style2 {
  border-color: rgba(255, 255, 255, 0.15);
}
.text-style.style2 span {
  color: white;
}

.red-btn {
  padding: 14px 32px;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  background: #EE132A;
  text-align: center;
  border: 1px solid #EE132A;
}
@media (max-width: 767px) {
  .red-btn {
    font-size: 16px;
    padding: 12px 24px;
  }
}
.red-btn:hover {
  background: white;
  color: #EE132A;
}

.footer {
  background: url(../img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50px 50px 0 0;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .footer {
    margin-top: 30px;
  }
}
.footer .footer-top {
  text-align: center;
  padding: 70px 0 80px;
}
@media (max-width: 1024px) {
  .footer .footer-top {
    padding: 40px 0 60px;
  }
}
.footer .footer-top .text-style {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .footer-top .text-style {
    margin-bottom: 20px;
  }
}
.footer .footer-top h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .footer .footer-top h2 {
    font-size: 22px;
    line-height: 130%;
    max-width: 300px;
    width: 100%;
    margin: 0 auto 20px;
  }
}
.footer .footer-top h4 {
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  color: white;
  max-width: 700px;
  width: 100%;
  margin: 0 auto 35px;
}
@media (max-width: 767px) {
  .footer .footer-top h4 {
    font-size: 16px;
    line-height: 130%;
    max-width: 270px;
    width: 100%;
    margin: 0 auto 30px;
  }
}
.footer .footer-top .leave-request {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 1024px) {
  .footer .footer-top .leave-request {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.footer .footer-top .leave-request .red-btn {
  height: 66px;
}
@media (max-width: 767px) {
  .footer .footer-top .leave-request .red-btn {
    height: 50px;
    padding: 12px 24px;
  }
}
.footer .footer-top .leave-request input {
  padding: 0 35px;
  height: 66px;
  border-radius: 50px;
  background: none;
  font-size: 16px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer .footer-top .leave-request input::-webkit-input-placeholder {
  color: white;
  font-size: 16px;
}
.footer .footer-top .leave-request input::-moz-placeholder {
  color: white;
  font-size: 16px;
}
.footer .footer-top .leave-request input:-ms-input-placeholder {
  color: white;
  font-size: 16px;
}
.footer .footer-top .leave-request input:-moz-placeholder {
  color: white;
  font-size: 16px;
}
@media (max-width: 767px) {
  .footer .footer-top .leave-request input {
    height: 50px;
    font-size: 14px;
  }
  .footer .footer-top .leave-request input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .footer .footer-top .leave-request input::-moz-placeholder {
    font-size: 14px;
  }
  .footer .footer-top .leave-request input:-ms-input-placeholder {
    font-size: 14px;
  }
  .footer .footer-top .leave-request input:-moz-placeholder {
    font-size: 14px;
  }
}
.footer .footer-top .leave-request input:focus {
  border-color: white;
}
.footer .footer-top .text {
  margin-top: 30px;
  max-width: 560px;
  width: 100%;
  margin: 30px auto 0;
  color: #DFDFDF;
  font-size: 14px;
  line-height: 140%;
}
.footer .footer-top .text a {
  color: #EE132A;
  display: inline;
  border-bottom: 1px solid #EE132A;
}
.footer .footer-top .text a:hover {
  border-color: transparent;
}
.footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
  z-index: 0;
}
@media (max-width: 1024px) {
  .footer .footer-bottom {
    flex-direction: column;
  }
}
.footer .footer-bottom:after {
  content: "";
  top: 0;
  left: -50%;
  width: 150%;
  position: absolute;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
}
.footer .footer-bottom:before {
  content: "";
  top: 0;
  right: -50%;
  width: 150%;
  position: absolute;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
}
.footer .footer-bottom .copyright {
  font-size: 16px;
  font-weight: 300;
  color: #D3D3D3;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .copyright {
    margin-bottom: 14px;
  }
}
@media (max-width: 1024px) {
  .footer .footer-bottom img {
    margin-top: 14px;
  }
}
.footer .footer-bottom .footer-link {
  border-bottom: 1px solid #EE132A;
  color: #EE132A;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .footer-link {
    margin: 14px auto;
  }
}
.footer .footer-bottom .footer-link:hover {
  border-color: transparent;
}
.footer.no-content {
  background: #141414;
}
.footer.no-content .footer-top {
  display: none;
}

.review-card {
  width: auto;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 30px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.review-card .style {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  opacity: 0.04;
}
.review-card .top {
  display: flex;
  margin-bottom: 35px;
  align-items: center;
}
.review-card .top .img-wrap {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
  display: flex;
}
.review-card .top .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-card .top .texts .name {
  display: block;
  margin-bottom: 10px;
  color: #373737;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
}
.review-card .top .texts .stars {
  display: flex;
  gap: 10px;
}
.review-card .text {
  max-width: 262px;
  width: 100%;
  color: #373737;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 24px;
  max-height: 132px;
  overflow: hidden;
}
.review-card .read {
  color: #EE132A;
  border-bottom: 1px solid #EE132A;
  margin-top: auto;
}
.review-card .read:hover {
  border-color: transparent;
}

.global-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .global-title-wrap {
    flex-direction: column-reverse;
  }
}
.global-title-wrap h2 {
  color: #373737;
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .global-title-wrap h2 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .global-title-wrap h2 {
    font-size: 24px;
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .global-title-wrap .text-style {
    margin-bottom: 20px;
  }
}

.border-btn {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 27px 60px -26px rgba(75, 187, 235, 0.7);
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #535353;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border-btn:hover {
  border-color: transparent;
  background: rgba(0, 0, 0, 0.15);
}

.car-item .img-wrap {
  position: relative;
  z-index: 0;
  margin-bottom: 25px;
}
.car-item .img-wrap .tooltip-info {
  position: absolute;
  top: 50px;
  max-width: 210px;
  width: 100%;
  right: 0;
  z-index: 11;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: 0.3s;
  transform: scale(0);
}
.car-item .img-wrap .tooltip-info.open {
  transform: scale(1);
}
.car-item .img-wrap .tooltip-info .tooltip-list li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.car-item .img-wrap .tooltip-info .tooltip-list li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.car-item .img-wrap .tooltip-info .tooltip-list li .colors {
  display: flex;
  gap: 10px;
}
.car-item .img-wrap .tooltip-info .tooltip-list li .colors span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  min-width: 15px;
}
.car-item .img-wrap .tooltip-info .tooltip-list li .colors span.red {
  background: #EE132A;
}
.car-item .img-wrap .tooltip-info .tooltip-list li .colors span.black {
  background: #272727;
}
.car-item .img-wrap .tooltip-info .tooltip-list li .colors span.grey {
  background: #D9D9D9;
}
.car-item .img-wrap .tooltip-info .tooltip-list li .colors span.white {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.car-item .img-wrap .tooltip-info .tooltip-list li .grey {
  font-size: 12px;
  font-weight: 300;
  color: #606060;
}
.car-item .img-wrap .tooltip-info .tooltip-list li .black {
  font-size: 12px;
  font-weight: 500;
  color: #535353;
}
.car-item .img-wrap .tooltip-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  width: 24px;
  cursor: pointer;
  height: 24px;
  display: flex;
}
.car-item .img-wrap .tooltip-icon img {
  margin: auto;
}
.car-item .img-wrap .img {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}
.car-item .img-wrap .img img {
  width: 100%;
  transition: 0.3s;
}
.car-item .img-wrap .img:hover img {
  transform: scale(1.02);
}
.car-item .name {
  display: block;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #373737;
  line-height: 110%;
}
.car-item .list {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 20px;
}
.car-item .list li {
  display: flex;
  flex-direction: column;
}
.car-item .list li span {
  display: block;
  font-size: 14px;
  line-height: 110%;
  margin-bottom: 6px;
  font-weight: 300;
  color: #606060;
}
.car-item .list li b {
  font-weight: 600;
  font-size: 14px;
  color: #535353;
}
.car-item .price-info {
  margin-bottom: 20px;
}
.car-item .price-info .price {
  font-size: 24px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
  color: #373737;
  line-height: 110%;
}
.car-item .price-info span {
  display: block;
  font-size: 14px;
  line-height: 110%;
  margin-bottom: 6px;
  font-weight: 300;
  color: #606060;
}
.car-item .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.car-item .buttons a {
  font-size: 14px;
  font-weight: 500;
  padding: 16px 12px;
}

.main {
  overflow: hidden;
  padding-top: 110px;
}
@media (max-width: 1024px) {
  .main {
    padding-top: 65px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .header-info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  padding: 30px 0;
}
@media (max-width: 1024px) {
  .header .header-info {
    padding: 18px 0;
  }
}
.header .header-info .logo {
  display: flex;
}
@media (max-width: 1100px) {
  .header .header-info .logo {
    width: 200px;
  }
}
@media (max-width: 1024px) {
  .header .header-info .logo {
    width: 160px;
  }
}
.header .header-info .logo img {
  max-width: 100%;
  max-height: 100%;
}
.header .header-info .menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 60px;
}
@media (max-width: 1100px) {
  .header .header-info .menu-wrap {
    padding-left: 30px;
  }
}
@media (max-width: 1024px) {
  .header .header-info .menu-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 30px;
    border-radius: 0 0 30px 30px;
    background: #0C0C0C;
    flex-direction: column;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
  }
  .header .header-info .menu-wrap.open {
    transform: scale(1);
    opacity: 1;
  }
}
.header .header-info .menu-wrap .main-menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1100px) {
  .header .header-info .menu-wrap .main-menu {
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .header .header-info .menu-wrap .main-menu {
    flex-direction: column;
  }
}
.header .header-info .menu-wrap .main-menu li a {
  font-size: 16px;
  font-weight: 300;
  color: white;
}
.header .header-info .menu-wrap .main-menu li a:hover {
  color: #EE132A;
}
.header .header-info .menu-wrap .phone-wrap {
  display: flex;
  flex-direction: column;
  text-align: right;
}
@media (max-width: 1024px) {
  .header .header-info .menu-wrap .phone-wrap {
    margin: 30px auto;
    text-align: center;
  }
}
.header .header-info .menu-wrap .phone-wrap .phone {
  font-size: 24px;
  font-weight: normal;
  color: white;
  margin-bottom: 6px;
}
.header .header-info .menu-wrap .phone-wrap span {
  font-size: 12px;
  font-weight: 300;
  color: white;
}
.header .header-info .menu-wrap .soc-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 1024px) {
  .header .header-info .menu-wrap .soc-icons {
    order: 1;
  }
}
.header .header-info .menu-wrap .soc-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.header .header-info .menu-wrap .soc-icons a:hover {
  border-color: #EE132A;
}
.header .header-info .menu-wrap .soc-icons a img {
  margin: auto;
  width: 15px;
}
.header .header-info .menu-wrap .soc-icons a.hide {
  display: none;
}
@media (max-width: 1024px) {
  .header .header-info .menu-wrap .soc-icons a.hide {
    display: flex;
  }
}
.header .header-info .soc-icons-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header .header-info .soc-icons-mobile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }
  .header .header-info .soc-icons-mobile a {
    width: 28px;
    height: 28px;
    display: flex;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header .header-info .soc-icons-mobile a:hover {
    border-color: #EE132A;
  }
  .header .header-info .soc-icons-mobile a img {
    margin: auto;
    width: 10px;
  }
  .header .header-info .soc-icons-mobile a.hide {
    display: none;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .header .header-info .soc-icons-mobile a.hide {
    display: flex;
  }
}

.drop-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
@media (max-width: 1024px) {
  .drop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 28px;
    height: 28px;
    background: #EE132A;
    border-radius: 50%;
    margin-left: 25px;
  }
}
.drop-menu .line {
  width: 12px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin: 1px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.drop-menu.is-active .line:nth-child(3) {
  opacity: 0;
}

.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(45deg);
  -ms-transform: translateY(4px) rotate(45deg);
  -o-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.review-block {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .review-block {
    padding: 30px 0;
  }
}
.review-block .title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .review-block .title-wrap {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .review-block .title-wrap .text-style {
    margin-top: 12px;
  }
}
.review-block .title-wrap h2 {
  color: #373737;
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .review-block .title-wrap h2 {
    font-size: 26px;
    margin-bottom: 12px;
  }
}
.review-block .title-wrap .rev-logo {
  max-width: 255px;
}
@media (max-width: 1024px) {
  .review-block .title-wrap .rev-logo {
    margin: 12px 0;
    max-width: 230px;
  }
}
.review-block .arrow-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .review-block .arrow-wrap {
    margin-top: 30px;
  }
}

.review-arrows {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .review-arrows {
    gap: 10px;
  }
}
.review-arrows button {
  width: 46px;
  height: 46px;
  display: flex;
  border-radius: 50%;
  border: 1px solid #949494;
}
@media (max-width: 767px) {
  .review-arrows button {
    width: 40px;
    height: 40px;
  }
}
.review-arrows button svg {
  margin: auto;
  fill: #949494;
  transition: 0.3s;
}
.review-arrows button.review-next svg {
  transform: rotate(180deg);
}
.review-arrows button:hover {
  background: #EE132A;
  border-color: #EE132A;
}
.review-arrows button:hover svg {
  fill: white;
}

.faq-block {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .faq-block {
    padding: 30px 0;
  }
}

.faq-items {
  display: grid;
  gap: 25px 34px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .faq-items {
    grid-template-columns: 1fr;
  }
}

.faq-item {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

.faq-head {
  width: 100%;
  background: none;
  border: none;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
}
@media (max-width: 1024px) {
  .faq-head {
    padding: 20px 0;
  }
}

.faq-head span {
  font-size: 20px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .faq-head span {
    font-size: 16px;
    padding-right: 5px;
  }
}

.faq-head .icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #e30613;
  position: relative;
  flex-shrink: 0;
  display: flex;
  padding-right: 0;
  cursor: pointer;
  padding-top: 2px;
}
@media (max-width: 1024px) {
  .faq-head .icon {
    width: 30px;
    height: 30px;
  }
  .faq-head .icon img {
    width: 8px;
  }
}
.faq-head .icon img {
  transition: 0.3s;
  margin: auto;
  width: 12px;
}

.faq-item.active .faq-head .icon img {
  transform: rotate(180deg);
}

.faq-body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0;
}

.faq-item.active .faq-body {
  padding: 0 0 20px;
}

.faq-body p {
  color: #373737;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  padding-bottom: 30px;
  max-width: 500px;
}
@media (max-width: 1024px) {
  .faq-body p {
    font-size: 14px;
    line-height: 120%;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .faq-grid {
    grid-template-columns: 1fr;
  }
}
.cars-rental {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .cars-rental {
    padding: 30px 0;
  }
}

.rental-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 1024px) {
  .rental-items {
    flex-direction: column;
    gap: 20px;
  }
}
.rental-items .icon {
  width: 34px;
  min-width: 34px;
  height: 34px;
  display: flex;
  background: #EE132A;
  border-radius: 50%;
  padding-left: 2px;
}
.rental-items .icon img {
  margin: auto;
  transform: rotate(-90deg);
}
.rental-items .rental-item {
  max-width: 320px;
  width: 100%;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  .rental-items .rental-item {
    max-width: 300px;
    padding: 30px;
  }
}
@media (max-width: 1024px) {
  .rental-items .rental-item {
    max-width: 100%;
  }
}
.rental-items .rental-item .num {
  display: block;
  margin-bottom: 30px;
  color: #EE132A;
  font-size: 34px;
  font-weight: 300;
  transition: 0.3s;
}
.rental-items .rental-item h4 {
  color: #373737;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  transition: 0.3s;
}
.rental-items .rental-item .text {
  color: #373737;
  font-size: 16px;
  font-weight: 300;
  transition: 0.3s;
}
.rental-items .rental-item:hover {
  background: #EE132A;
  border-color: white;
}
.rental-items .rental-item:hover .num, .rental-items .rental-item:hover h4, .rental-items .rental-item:hover .text {
  color: white;
}

.our-cars {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .our-cars {
    padding: 30px 0;
  }
}
.our-cars .our-cars-info {
  text-align: center;
}
.our-cars .our-cars-info > .red-btn {
  height: 52px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.our-cars .our-cars-list {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1024px) {
  .our-cars .our-cars-list {
    flex-direction: column;
    margin-bottom: 50px;
    gap: 30px;
  }
}
.our-cars .our-cars-list .list-item {
  display: flex;
  align-items: center;
}
.our-cars .our-cars-list .list-item .icon {
  width: 50px;
  height: 50px;
  min-width: 50px;
  margin-right: 20px;
  border-radius: 50%;
  background: #EE132A;
  display: flex;
}
.our-cars .our-cars-list .list-item .icon img {
  margin: auto;
}
.our-cars .our-cars-list .list-item .text {
  font-size: 20px;
  font-weight: 300;
  color: #3A3A3A;
  line-height: 120%;
}
@media (max-width: 767px) {
  .our-cars .our-cars-list .list-item .text {
    font-size: 16px;
    max-width: 270px;
  }
}

.our-cars-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  text-align: left;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .our-cars-items {
    gap: 40px 20px;
  }
}
@media (max-width: 1024px) {
  .our-cars-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .our-cars-items {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 40px;
  }
}

.banner {
  padding-top: 145px;
  margin-top: -110px;
  padding-bottom: 75px;
  background: url(../img/banner-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0 0 40px 40px;
}
@media (max-width: 1024px) {
  .banner {
    padding-top: 90px;
    padding-bottom: 40px;
    margin-top: -65px;
  }
}
.banner .banner-info {
  text-align: center;
}
.banner .banner-info .persons-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .banner .banner-info .persons-wrap {
    margin-bottom: 20px;
  }
}
.banner .banner-info .persons-wrap img {
  margin-right: -40px;
}
.banner .banner-info .persons-wrap .texts {
  padding: 6px;
  padding-right: 20px;
  padding-left: 60px;
  border-radius: 50px;
  border: 1px solid rgba(232, 232, 232, 0.2);
  display: flex;
  align-items: center;
}
.banner .banner-info .persons-wrap .texts b {
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.banner .banner-info .persons-wrap .texts span {
  max-width: 50px;
  font-size: 10px;
  color: white;
  display: inline-block;
  margin-left: 12px;
}
.banner .banner-info h1 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 50px;
  color: #FFF;
  font-size: 65px;
  font-weight: 400;
  text-align: left;
  line-height: 130%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
}
@media (max-width: 1024px) {
  .banner .banner-info h1 {
    text-align: center;
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .banner .banner-info h1 {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
.banner .banner-info h1 p {
  max-width: 450px;
  width: 100%;
  font-size: 20px;
  line-height: 120%;
  font-weight: 300;
  text-transform: none;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
@media (max-width: 1024px) {
  .banner .banner-info h1 p {
    position: static;
    display: block;
    text-align: center;
    max-width: 600px;
    margin: 20px auto 0;
  }
}
@media (max-width: 767px) {
  .banner .banner-info h1 p {
    font-size: 16px;
    margin-top: 12px;
  }
}
.banner .banner-info .banner-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  text-align: left;
}
@media (max-width: 1024px) {
  .banner .banner-info .banner-form {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.banner .banner-info .banner-form .input-wrap > span {
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-bottom: 20px;
  color: #DFDFDF;
}
.banner .banner-info .banner-form .input-wrap .date {
  height: 66px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  padding: 10px 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
@media (max-width: 767px) {
  .banner .banner-info .banner-form .input-wrap .date {
    height: 50px;
  }
}
.banner .banner-info .banner-form .input-wrap .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.banner .banner-info .banner-form .input-wrap .top > span {
  font-size: 14px;
  font-weight: 300;
  display: block;
  color: #DFDFDF;
}
.banner .banner-info .banner-form .input-wrap .top a {
  font-size: 14px;
  font-weight: 300;
  color: #EE132A;
  border-bottom: 1px solid #EE132A;
}
.banner .banner-info .banner-form .input-wrap .top a:hover {
  border-color: transparent;
}
.banner .banner-info .banner-form .input-wrap input {
  height: 66px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 0 30px;
  background: transparent;
  font-size: 16px;
  color: white;
}
.banner .banner-info .banner-form .input-wrap input::-webkit-input-placeholder {
  color: white;
  font-size: 16px;
}
.banner .banner-info .banner-form .input-wrap input::-moz-placeholder {
  color: white;
  font-size: 16px;
}
.banner .banner-info .banner-form .input-wrap input:-ms-input-placeholder {
  color: white;
  font-size: 16px;
}
.banner .banner-info .banner-form .input-wrap input:-moz-placeholder {
  color: white;
  font-size: 16px;
}
@media (max-width: 767px) {
  .banner .banner-info .banner-form .input-wrap input {
    height: 50px;
  }
}
.banner .banner-info .banner-form .input-wrap input:focus {
  border-color: white;
}
.banner .banner-info .banner-form .input-wrap .info-text {
  margin-bottom: 0;
  margin-top: 20px;
  display: flex;
}
.banner .banner-info .banner-form .input-wrap .info-text img {
  margin-right: 15px;
}
.banner .banner-info .banner-form .input-wrap .info-text span {
  color: #DFDFDF;
  font-size: 14px;
  max-width: 150px;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .banner .banner-info .banner-form .input-wrap .info-text span {
    max-width: 100%;
  }
}
.banner .banner-info .banner-form .red-btn {
  align-self: flex-start;
  margin-top: 35px;
  height: 66px;
}
@media (max-width: 1100px) {
  .banner .banner-info .banner-form .red-btn {
    padding: 14px 24px;
  }
}
@media (max-width: 767px) {
  .banner .banner-info .banner-form .red-btn {
    height: 50px;
    margin-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
