@import "mixins";
@import "global";
@import "popups";
@import "pages";
@import "pages2";
@import "fonts";

.review-block{
    padding: 50px 0;
    @media(max-width: 767px){
      padding: 30px 0;
    }
    .title-wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      @media(max-width: 767px){
        flex-direction: column;
        margin-bottom: 30px;
      }
      .text-style{
        @media(max-width: 1024px){
          margin-top: 12px;
        }
      }
      h2{
        color: #373737;
        font-size: 40px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        @media(max-width: 1024px){
          font-size: 26px;
        }
        @media(max-width: 767px){
          margin-bottom: 12px;
          font-size: 24px;
        }
      }
      .rev-logo{
        max-width: 255px;
        @media(max-width: 1024px){
          max-width: 160px;
        }
        @media(max-width: 767px){
          margin: 12px 0;
          max-width: 240px;
        }
      }
    }
    .arrow-wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      @media(max-width: 767px){
        margin-top: 30px;
      }
    }
  }
  
.review-arrows{
display: flex;
gap: 20px;
@media(max-width: 767px){
    gap: 10px;
}
button{
    width: 46px;
    height: 46px;
    display: flex;
    border-radius: 50%;
    border: 1px solid #949494;
    @media(max-width: 767px){
    width: 40px;
    height: 40px;
    }
    svg{
    margin: auto;
    fill: #949494;
    transition: .3s;
    }
    &.review-next{
    svg{
        transform: rotate(180deg);
    }
    }
    &:hover{
    background: $red;
    border-color: $red;
    svg{
        fill: white;
    }
    }
}
}

.faq-block{
    padding: 50px 0;
    @media(max-width: 767px){
      padding: 30px 0;
    }
  }
  
  .faq-items {
    display: grid;
    gap: 25px 34px;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    @media(max-width: 767px){
      grid-template-columns: 1fr;
    }
  }
  
  .faq-item {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
  }
  
  .faq-head {
    width: 100%;
    background: none;
    border: none;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: left;
    @media(max-width: 1024px){
      padding: 20px 0;
    }
  }
  
  .faq-head span {
    font-size: 20px;
    color: #373737;
    text-transform: uppercase;
    @media(max-width: 1024px){
      font-size: 16px;
      padding-right: 5px;
    }
  }
  
  .faq-head .icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #e30613;
    position: relative;
    flex-shrink: 0;
    display: flex;
    padding-right: 0;
    cursor: pointer;
    padding-top: 2px;
    @media(max-width: 1024px){
      width: 30px;
      height: 30px;
      img{
        width: 8px;
      }
    }
    img{
      transition: .3s;
      margin: auto;
      width: 12px;
    }
  }
  
  .faq-item.active .faq-head .icon img {
    transform: rotate(180deg);
  }
  
  .faq-body {
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s ease, padding .3s ease;
    padding: 0;
  }
  
  .faq-item.active .faq-body {
    padding: 0 0 20px;
  }
  
  .faq-body p {
    color: #373737;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 30px;
    max-width: 500px;
    @media(max-width: 1024px){
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .faq-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .cars-rental{
    padding: 50px 0;
    @media (max-width: 767px) {
      padding: 30px 0;
    }
  }
  
  .rental-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 20px;
    }
    .icon{
      width: 34px;
      min-width: 34px;
      height: 34px;
      display: flex;
      background: $red;
      border-radius: 50%;
      padding-left: 2px;
      img{
        margin: auto;
        transform: rotate(-90deg);
      }
    }
    .rental-item{
      max-width: 320px;
      width: 100%;
      padding: 40px;
      border-radius: 15px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      background: rgba(255, 255, 255, 0.10);
      cursor: pointer;
      transition: .3s;
      @media (max-width: 1200px) {
        max-width: 300px;
        padding: 30px;
      }
      @media(max-width: 1024px){
       max-width: 100%;
      }
      .num{
        display: block;
        margin-bottom: 30px;
        color: $red;
        font-size: 34px;
        font-weight: 300;
        transition: .3s;
      }
      h4{
        color: #373737;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        transition: .3s;
      }
      .text{
        color: #373737;
        font-size: 16px;
        font-weight: 300;
        transition: .3s;
      }
      &:hover{
        background: $red;
        border-color: white;
        .num, h4, .text{
          color: white;
        }
      }
    }
  }
  
  .our-cars{
    padding: 50px 0;
    @media (max-width: 767px) {
      padding: 30px 0;
    }
    .our-cars-info{
      text-align: center;
      > .red-btn{
        height: 52px;
        align-items: center;
        display: inline-flex;
        justify-content: center;
      }
    }
    .our-cars-list{
      margin-bottom: 100px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 1024px) {
        flex-direction: column;
        margin-bottom: 50px;
        gap: 30px;
      }
      .list-item{
        display: flex;
        align-items: center;
        .icon{
          width: 50px;
          height: 50px;
          min-width: 50px;
          margin-right: 20px;
          border-radius: 50%;
          background: $red;
          display: flex;
          img{
            margin: auto;
          }
        }
        .text{
          font-size: 20px;
          font-weight: 300;
          color: #3A3A3A;
          line-height: 120%;
          @media (max-width: 767px) {
            font-size: 16px;
            max-width: 270px;
          }
        }
      }
    }
  }
  
  .our-cars-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    text-align: left;
    margin-bottom: 50px;
    @media (max-width: 1200px) {
      gap: 40px 20px
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 30px;
      margin-bottom: 40px;
      .car-item{
        &:nth-child(n + 5){
            display: none;
        }
      }
    }
  }

  .banner{
    padding-top: 145px;
    margin-top: -110px;
    padding-bottom: 75px;
    background: url(../img/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0 0 40px 40px;
    @media (max-width: 1024px) {
     padding-top: 90px;
     padding-bottom: 40px;
     margin-top: -65px;
    }
    .banner-info{
      text-align: center;
      .persons-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin-bottom: 30px;
        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
        img{
          margin-right: -40px;
        }
        .texts{
          padding: 6px;
          padding-right: 20px;
          padding-left: 60px;
          border-radius: 50px;
          border: 1px solid rgba(232, 232, 232, 0.20);
          display: flex;
          align-items: center;
          b{
            display: inline-block;
            color: white;
            font-weight: 500;
            font-size: 20px;
          }
          span{
            max-width: 50px;
            font-size: 10px;
            color: white;
            display: inline-block;
            margin-left: 12px;
          }
        }
      }
      h1{
        max-width: 1000px;
        width: 100%;
        margin: 0 auto 50px;
        color: #FFF;
        font-size: 65px;
        font-weight: 400;
        text-align: left;
        line-height: 130%;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        position: relative;
        z-index: 0;
        @media (max-width: 1024px) {
          text-align: center;
          font-size: 44px;
        }
        @media (max-width: 767px) {
          font-size: 26px;
          margin-bottom: 30px;
        }
        p{
          max-width: 450px;
          width: 100%;
          font-size: 20px;
          line-height: 120%;
          font-weight: 300;
          text-transform: none;
          color: white;
          position: absolute;
          bottom: 20px;
          right: 20px;
          @media (max-width: 1024px) {
            position: static;
            display: block;
            text-align: center;
            max-width: 600px;
            margin: 20px auto 0;
          }
          @media (max-width: 767px) {
            font-size: 16px;
            margin-top: 12px;
          }
        }
      }
      .banner-form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        text-align: left;
        @media (max-width: 1024px) {
          grid-template-columns: 1fr;
          gap: 20px;
        }
        .input-wrap{
          > span{
            font-size: 14px;
            font-weight: 300;
            display: block;
            margin-bottom: 20px;
            color: #DFDFDF;
          }
          .date{
            height: 66px;
            border-radius: 50px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            display: flex;
            align-items: center;
            padding: 10px 30px;
            font-size: 16px;
            color: white;
            cursor: pointer;
            @media (max-width: 767px) {
              height: 50px;
            }
          }
          .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            > span{
              font-size: 14px;
              font-weight: 300;
              display: block;
              color: #DFDFDF;
            }
            a{
              font-size: 14px;
              font-weight: 300;
              color: $red;
              border-bottom: 1px solid $red;
              &:hover{
                border-color: transparent;
              }
            }
          }
          input{
            height: 66px;
            border-radius: 50px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            width: 100%;
            padding: 0 30px;
            background: transparent;
            font-size: 16px;
            color: white;
            @include placeholder{
              color: white;
              font-size: 16px;
            }
            @media (max-width: 767px) {
              height: 50px;
            }
            &:focus{
              border-color: white;
            }
          }
          .info-text{
            margin-bottom: 0;
            margin-top: 20px;
            display: flex;
            img{
              margin-right: 15px;
            }
            span{
              color: #DFDFDF;
              font-size: 14px;
              max-width: 150px;
              font-weight: 300;
              @media (max-width: 1024px) {
               max-width: 100%;
              }
            }
          }
        }
        .red-btn{
          align-self: flex-start;
          margin-top: 35px;
          height: 66px;
          @media (max-width: 1100px) {
            padding: 14px 24px;
          }
          @media (max-width: 767px) {
            height: 50px;
            margin-top: 15px;
          }
        }
      }
    }
  }
